<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.pro.mapper.ReserverMapper">


	<insert id="insertReserve" parameterType="org.pro.domain.ReserveVo">
		insert into reserve value (#{code}, #{name}, #{checkInDate}, #{days},#{peopleNum},#{r_price})
	</insert>

	<select id="selectOne" resultType = "org.pro.domain.ReserveVo">
		select * from reserve where code = #{code}
	</select>



</mapper>