<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.blog.mapper.blogMapper">


	<insert id="create">
		insert into blog value(#{no}, #{title}, #{name}, #{now}, #{context}, #{keyword}, #{cnt}, #{like_count})
	</insert>


	<select id="word_select" resultType="Integer">
		SELECT IFNULL(COUNT(*),0) FROM keyword_cnt where word = #{word}
	</select>

	<insert id="word_insert">
		insert into keyword_cnt value(#{word}, #{word_cnt})
	</insert>

	<update id="word_cnt">
		update keyword_cnt set word_cnt = word_cnt+1 where word = #{word}
	</update>

	<select id="word_cnt_list" resultType = "org.blog.domain.WordVO">
		select * from keyword_cnt order by word_cnt desc limit 0,12
	</select>

	<select id="list" resultType="org.blog.domain.BlogVO">
		select no, title, name, now, context, keyword, cnt, (select count(*) from like_blog where blog_no = blog.no) as like_cnt, (select count(*) from reply where blog_no = blog.no) as comment_Cnt from blog order by no desc
	</select>

	<select id="tag_list" resultType="org.blog.domain.BlogVO">
		select no, title, name, now, context, keyword, cnt, (select count(*) from like_blog where blog_no = blog.no) as like_cnt, (select count(*) from reply where blog_no = blog.no) as comment_Cnt from blog where keyword like CONCAT('%',#{keyword},'%') order by no desc
	</select>

	<select id="my_list" resultType="org.blog.domain.BlogVO">
		select no, title, name, now, context, cnt, (select count(*) from like_blog where blog_no = blog.no) as like_cnt, (select count(*) from reply where blog_no = blog.no) as comment_Cnt from blog where name = #{name} order by no desc
	</select>

	<select id="selectList" resultType="org.blog.domain.BlogVO">
		select * from blog where no = #{no}
	</select>

	<insert id="update_cnt">
		update blog set cnt = cnt+1 where no = #{no}
	</insert>

	<update id="blog_update">
		update blog set title = #{title}, context = #{context} where no = #{no}
	</update>

	<delete id="blog_delete" parameterType="java.lang.Integer">
		delete from blog where no = #{no}
	</delete>

	<select id="my_comment" resultType="org.blog.domain.JoinVO">
		SELECT r.comment, r.reply_name, b.title, b.no FROM reply r left JOIN blog b ON r.blog_no = b.no where reply_name = #{name}
	</select>

	<select id="like_yn" parameterType = "org.blog.domain.LikeVO" resultType="Integer">
		SELECT IFNULL(COUNT(*),0) FROM like_blog WHERE blog_no = #{blog_no} and like_user = #{like_user}
	</select>

	<insert id="like">
		insert into like_blog value(#{like_no}, #{blog_no}, #{like_user}, #{like_now})
	</insert>

	<select id="like_count" parameterType = "org.blog.domain.LikeVO" resultType="Integer">
		SELECT IFNULL(COUNT(*),0) FROM like_blog WHERE blog_no = #{blog_no}
	</select>

	<select id="select_like_count" resultType="java.lang.Integer">
		SELECT like_count FROM blog WHERE no = #{no}
	</select>

	<insert id="img_upload">
		insert into blog_img values (#{blog_name}, #{blog_name}, #{blog_img1},#{blog_img2},#{blog_img3},#{blog_img4},#{blog_img5}, #{blog_now})
	</insert>

	<select id="select_count_list"  resultType="java.lang.Integer">
		SELECT IFNULL(COUNT(*),0) FROM blog WHERE name = #{name} and now between concat(CURDATE(), ' ', '00:00:00') and concat(CURDATE(), ' ', '23:59:59')
	</select>

	<select id="select_count_comment"  resultType="java.lang.Integer">
		SELECT IFNULL(COUNT(*),0) FROM reply WHERE blog_no = #{no} and comment_now between concat(CURDATE(), ' ', '00:00:00') and concat(CURDATE(), ' ', '23:59:59')
	</select>





</mapper>