<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.blog.mapper.eventMapper">

	<insert id="event">
		insert into event value(#{event_no}, #{event_title}, #{event_startDate}, #{event_endDate}, #{event_content})
	</insert>

	<select id="eventList" resultType = "org.blog.domain.EventVO">
		select event_no, event_title, event_startDate, event_endDate, event_content, (select count(*) from event_entry where event_no = event.event_no) as event_click from event
	</select>

	<select id="event_select" resultType = "org.blog.domain.EventVO">
		select * from event where event_no = #{event_no}
	</select>

	<insert id="entry">
		insert into event_entry value(#{entry_code}, #{event_no}, #{user_name})
	</insert>

	<select id="numbering_count" parameterType = "org.blog.domain.EventEntryVO" resultType="Integer">
		SELECT IFNULL(COUNT(*),0) FROM event_entry WHERE event_no = #{event_no}
	</select>

	<select id="entry_yn">
		SELECT user_name FROM event_entry WHERE event_no = #{event_no} and user_name = #{user_name}
	</select>




</mapper>