<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.blog.mapper.userMapper">


	<insert id="user_join">
		insert into user value(#{user_email}, #{user_pwd}, #{user_name}, #{user_authCode}, #{user_auth_yn})
	</insert>

	<select id="user_login" resultType="org.blog.domain.UserVO">
		select * from user where user_name = #{user_name} and user_pwd = #{user_pwd}
	</select>

	<select id="userAuth" resultType="org.blog.domain.UserVO">
		update USER set user_auth_yn = 'y' where user_email = #{user_email}
	</select>

	<update id="user_update">
		update user set user_name = #{user_name}, user_pwd = #{user_pwd}
	</update>

	<update id="createAuthKey">
		update USER set user_authCode = #{user_authCode} where user_email = #{user_email}
	</update>

	<delete id="user_delete">
		delete from user where user_name = #{user_name}
	</delete>
	<delete id="user_post_delete">
		delete from post where name = #{user_name}
	</delete>
	<delete id="user_comment_delete">
		delete from comment where comment_name = #{user_name}
	</delete>
	<delete id="user_blog_delete">
		delete from myblog where blog_user = #{user_name}
	</delete>

	<select id="email_check"
	    parameterType="org.blog.domain.UserVO"
	    resultType="java.lang.Integer">
	    SELECT ifnull(COUNT(*),0)
	    FROM user WHERE user_email = #{user_email}
	</select>

	<select id="name_check"
	    parameterType="org.blog.domain.UserVO"
	    resultType="java.lang.Integer">
	    SELECT ifnull(COUNT(*),0)
	    FROM user WHERE user_name = #{user_name}
	</select>






</mapper>